.cropped-area {
  border: 1px dashed red;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  z-index: 100;
  box-shadow: 0 0 2000px 2000px rgb(0 0 0 / 60%);
  touch-action: none;
  cursor: move;
}


.container {
  position: relative;
  overflow: hidden;
  min-width: 300px;
  min-height: 300px;
}

.resizer {
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: #0097df;
  cursor: nwse-resize;
  touch-action: none;
}